<script type="text/javascript">
    RED.nodes.registerType('athena', {
        category: 'Athena',
        color: '#c0edc0',
        defaults: {
            name: { value: "" },
            accessKeyId: {value:""},
            secretAccessKey: {value:""},
            database: {value: ""}
        },
        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function () {
            return this.name || "athena";
        }
    });
</script>

<script type="text/x-red" data-template-name="athena">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-accessKeyId"><i class="icon-tag"></i> AccessKeyId</label>
        <input type="text" id="node-input-accessKeyId" placeholder="accessKeyId">
    </div>
    <div class="form-row">
        <label for="node-input-secretAccessKey"><i class="icon-tag"></i> SecretAccessKey</label>
        <input type="text" id="node-input-secretAccessKey" placeholder="secretAccessKey">
    </div>
    <div class="form-row">
        <label for="node-input-database"><i class="icon-tag"></i> database</label>
        <input type="text" id="node-input-database" placeholder="database">
    </div>
</script>

<script type="text/x-red" data-help-name="athena">
    <p>A simple node that converts the message payloads into all experiencia characters</p>
</script>