<script type="text/javascript">
    RED.nodes.registerType('clientReport', {
        category: 'Athena',
        color: '#c0edc0',
        defaults: {
            name: { value: "" },
            accessKeyId: { value: "" },
            secretAccessKey: { value: "" },
            database: { value: "" },
            table: { value: "clientreport" },
            query: {
                value: `SELECT {columns} FROM {table} WHERE {where};`
            }
        },
        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function () {
            return this.name || "Client Report";
        }
    });
</script>

<script type="text/x-red" data-template-name="clientReport">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-accessKeyId"><i class="icon-tag"></i> AccessKeyId</label>
        <input type="text" id="node-input-accessKeyId" placeholder="accessKeyId">
    </div>
    <div class="form-row">
        <label for="node-input-secretAccessKey"><i class="icon-tag"></i> SecretAccessKey</label>
        <input type="text" id="node-input-secretAccessKey" placeholder="secretAccessKey">
    </div>
    <div class="form-row">
        <label for="node-input-database"><i class="icon-tag"></i> database</label>
        <input type="text" id="node-input-database" placeholder="database">
    </div>
    <div class="form-row">
        <label for="node-input-table"><i class="icon-tag"></i> table</label>
        <input type="text" id="node-input-table" placeholder="table">
    </div>
    <div class="form-row">
        <label for="node-input-query"><i class="icon-tag"></i> query</label>
        <input type="text" id="node-input-query" placeholder="query" readonly>
    </div>
</script>

<script type="text/x-red" data-help-name="clientReport">
    <p>A simple node that converts the message payloads into all experiencia characters</p>
</script>
