<script type="text/javascript">
  RED.nodes.registerType('getFeeReport',{
      category: 'W_Insights',
      color: '#a6bbcf',
      defaults: {
        name: {value:"getFeeReport"},
        // url: {value:"/getFeeReport/{id}/{startdate}/{enddate}",required:true},
        // method: {value:"POST",required:true},
        // domain: {value:"",required:true},
      },
      inputs:1,
      outputs:1,
      icon: "file.png",
      label: function() {
          return this.name||"getFeeReport";
      }
  });
</script>

<script type="text/x-red" data-template-name="getFeeReport">
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i>Name</label>
    <input type="text" id="node-input-name" placeholder="Name" disabled>
  </div>
</script>

<script type="text/x-red" data-help-name="getFeeReport">
  <p>This module connect with W-Insights, and get the API Details from this /getFeeReport/{id}/{startdate}/{enddate}</p>
</script>