<script type="text/javascript">
    RED.nodes.registerType('mitrabajochart', {
        category: 'Athena',
        color: '#c0edc0',
        defaults: {
            name: { value: "mitrabajochart" },
            accessKeyId: { value: "" },
            secretAccessKey: { value: "" },
            database: { value: "" },
            table: { value: "project2" },
            query: {
                value: `SELECT DISTINCT {columns}
                FROM {table} WHERE {where} ;`},
            isathena: { value: "" },
            useCompanyDb: { value: "" },
            dbhost: { value: "" },
            dbname: { value: "" },
            dbusername: { value: "" },
            dbpassword: { value: "" },
            limit: { value: "" }
        },
        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function () {
            return this.name || "mitrabajochart";
        }
    });
</script>

<script type="text/x-red" data-template-name="mitrabajochart">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name" readonly>
    </div>
    <div class="form-row">
        <label for="node-input-accessKeyId"><i class="icon-tag"></i> AccessKeyId</label>
        <input type="text" id="node-input-accessKeyId" placeholder="accessKeyId">
    </div>
    <div class="form-row">
        <label for="node-input-secretAccessKey"><i class="icon-tag"></i> SecretAccessKey</label>
        <input type="text" id="node-input-secretAccessKey" placeholder="secretAccessKey">
    </div>
    <div class="form-row">
        <label for="node-input-database"><i class="icon-tag"></i> database</label>
        <input type="text" id="node-input-database" placeholder="database">
    </div>
    <div class="form-row">
        <label for="node-input-table"><i class="icon-tag"></i> table</label>
        <input type="text" id="node-input-table" placeholder="table">
    </div>
    <div class="form-row">
        <label for="node-input-query"><i class="icon-tag"></i> query</label>
        <input type="text" id="node-input-query" placeholder="query" readonly>
    </div>
    <div class="form-row">
        <label for="node-input-isathena"><i class="icon-tag"></i> IsAthena </label>
        <input type="checkbox" id="node-input-isathena" placeholder="isathena" >
    </div>
    <div class="form-row">
        <label for="node-input-useCompanyDb"><i class="icon-tag"></i> Use Company Db </label>
        <input type="checkbox" id="node-input-useCompanyDb" placeholder="useCompanyDb" >
    </div>
    <div class="form-row">
        <label for="node-input-dbhost"><i class="icon-tag"></i> DB Host</label>
        <input type="text" id="node-input-dbhost" placeholder="DB Host">
    </div>
    <div class="form-row">
        <label for="node-input-dbname"><i class="icon-tag"></i> DB Name</label>
        <input type="text" id="node-input-dbname" placeholder="DB Name">
    </div>
    <div class="form-row">
        <label for="node-input-dbusername"><i class="icon-tag"></i> DB UserName</label>
        <input type="text" id="node-input-dbusername" placeholder="DB Username">
    </div>
    <div class="form-row">
        <label for="node-input-dbpassword"><i class="icon-tag"></i> DB Password</label>
        <input type="text" id="node-input-dbpassword" placeholder="DB Password">
    </div>
    <div class="form-row">
        <label for="node-input-limit"><i class="icon-tag"></i> Records per page</label>
        <input type="text" id="node-input-limit" placeholder="Records per page">
    </div>
</script>

<script type="text/x-red" data-help-name="mitrabajochart">
    <p>A simple node that converts the message payloads into all experiencia characters</p>
</script>