<script type="text/javascript">
    RED.nodes.registerType('operationZoneDetails', {
        category: 'Athena',
        color: '#c0edc0',
        defaults: {
            name: { value: "" },
            accessKeyId: { value: "" },
            secretAccessKey: { value: "" },
            database: { value: "" },
            table1: { value: "admin_operationzonedetail" },
            table2: { value: "admin_profiles" },
            join_on: { value: "ap.id=aod.profile_id" },
            query: {
                value: `SELECT {columns} FROM {table1} as aod LEFT JOIN {table2} as ap on {join_on} WHERE {where};`
            }
        },
        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function () {
            return this.name || "Operation Zone Details";
        }
    });
</script>

<script type="text/x-red" data-template-name="operationZoneDetails">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-accessKeyId"><i class="icon-tag"></i> AccessKeyId</label>
        <input type="text" id="node-input-accessKeyId" placeholder="accessKeyId">
    </div>
    <div class="form-row">
        <label for="node-input-secretAccessKey"><i class="icon-tag"></i> SecretAccessKey</label>
        <input type="text" id="node-input-secretAccessKey" placeholder="secretAccessKey">
    </div>
    <div class="form-row">
        <label for="node-input-database"><i class="icon-tag"></i> database</label>
        <input type="text" id="node-input-database" placeholder="database">
    </div>
    <div class="form-row">
        <label for="node-input-table"><i class="icon-tag"></i> table 1</label>
        <input type="text" id="node-input-table1" placeholder="table 1">
    </div>
    <div class="form-row">
        <label for="node-input-table"><i class="icon-tag"></i> table 2</label>
        <input type="text" id="node-input-table2" placeholder="table 2">
    </div>
    <div class="form-row">
        <label for="node-input-table"><i class="icon-tag"></i> join on</label>
        <input type="text" id="node-input-join_on" placeholder="join on" readonly>
    </div>
    <div class="form-row">
        <label for="node-input-query"><i class="icon-tag"></i> query</label>
        <input type="text" id="node-input-query" placeholder="query" readonly>
    </div>
</script>

<script type="text/x-red" data-help-name="operationZoneDetails">
    <p>A simple node that converts the message payloads into all experiencia characters</p>
</script>
