<script type="text/javascript">
    RED.nodes.registerType('PostNode',{
        category: 'WInsights',
        color: '#a6bbcf',
        defaults: {
            name: {value:"PostNode"},
            routeNode: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"PostNode";
        }
    });
</script>

<!-- <div class="form-row">
    <label for="node-input-routeNode"><i class="icon-tag"></i>Route Node</label>
    <select id="node-input-routeNode">
      <option value="AddSegment">AddSegment</option>
      <option value="UpdateSegment">UpdateSegment</option>
    </select>
</div> -->

<script type="text/x-red" data-template-name="PostNode">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-routeNode"><i class="icon-tag"></i> Route Node</label>
        <input type="text" id="node-input-routeNode" placeholder="Route Node">
    </div>
</script>

<script type="text/x-red" data-help-name="PostNode">
    <p>A simple node that list all domains available in W-Dev</p>
</script>
