<script type="text/javascript">
    RED.nodes.registerType('PyDataProviderNode',{
        category: 'WInsights',
        color: '#a6bbcf',
        defaults: {
            name: {value:"PyDataProviderNode"},
            routeNode: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"PyDataProviderNode";
        }
    });
</script>
<script type="text/x-red" data-template-name="PyDataProviderNode">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="PyDataProviderNode">
    <p>A simple node that list all domains available in W-Dev</p>
</script>
